/* Reset de base */
body, h1, h2, p, img, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Styles généraux */
body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  justify-content: space-between;
  background-color: #55538b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden; /* Empêche le scroll */
}

/* Navbar */
.navbar {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.navbar h1 {
  margin-bottom: 5px;
  color: white;
  font-size: 26px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar h2 {
  color: white;
  font-size: 16px;
}

/* Social Media Bar */
.social1 {
  position: fixed;
  right: -2px;
  top: 40%;
  transform: rotate(90deg);
  z-index: 9999;
}

.fab {
  transform: rotate(-90deg);
  font-size: 20px;
}

/* Conteneur pour les images */
.image-container {
  position: relative;
  width: 300px;
  height: auto;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.7s ease-in-out;
  margin: 20px auto;
}

.image-container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container span img {
  width: 100%;
  border-radius: 2px;
}

.image-container span .details {
  margin-top: 10px;
  color: white;
  text-align: center;
}

.details .name {
  font-weight: 300;
  font-size: 12px;
}

.details .price {
  font-size: 14px;
  color: #ffd700; /* Couleur dorée pour le prix */
}

/* Boutons de navigation */
.btn-container {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.btn {
  background-color: slateblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #483d8b;
  transform: scale(1.05);
}

/* Styles pour le QR Code et l'icône de position */
.qr-position-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.qr-code img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  filter: drop-shadow(0 50px 20px #0009);
}

.position-icon i {
  font-size: 30px;
  color: #3c9a37; /* Couleur verte claire */
  filter: drop-shadow(0 50px 20px #0009);
}

.position-icon a {
  color: inherit; /* Hérite de la couleur de l'élément parent */
}

/* Media queries pour responsivité */
@media (max-width: 1440px) {
  .image-container {
    width: 280px;
  }

  .btn {
    padding: 8px 16px;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .image-container {
    width: 260px;
  }

  .btn {
    padding: 8px 16px;
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .image-container {
    width: 250px;
  }

  .btn {
    padding: 8px 16px;
    margin-top: 20px;
  }
}

@media (max-width: 820px) {
  .image-container {
    width: 220px;
  }

  .btn {
    padding: 8px 16px;
    margin-top: 20px;
  }
}

@media (max-width: 770px) {
  .image-container {
    width: 200px;
  }

  .btn-container {
    width: 100%;
  }

  .btn {
    padding: 8px 16px;
    margin-top: 20px;
  }
}

@media (max-width: 520px) {
  .image-container {
    width: 190px;
  }

  .btn {
    padding: 8px 16px;
    margin-top: 20px;
  }
}

@media (max-width: 425px) {
  .image-container {
    width: 180px;
  }

  

  .btn {
    padding: 8px 16px;
    margin-top: 20px;
  }
}

