/* Reset de base */
body, h1, h2, p, img, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Styles généraux */
body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  min-height: 80vh;
  justify-content: space-between;
  background-color: #55538b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  flex-direction: column;
}

/* Navbar */
.navbar {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10%;
}

.navbar h1 {
  margin-bottom: 5px;
  color: white;
  font-size: 26px;
}

.navbar h2 {
  color: white;
  font-size: 16px;
}

/* Conteneur pour les images */
.image-container {
  position: relative;
  width: 400px;
  height: auto;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.7s ease-in-out;
  margin: 20px auto;
}

.image-container span {
  position: absolute;
  top: 0;
  left: -3%;
  width: 100%;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container span img {
  width: 100%;
  border-radius: 2px;
  margin-top: 10%;
}

.image-container span .details {
  margin-top: 10px;
  color: white;
  text-align: center;
}

.details .name {
  font-weight: 300;
  font-size: 12px;
}

.details .price {
  font-size: 14px;
  color: #ffd700;
}

/* Paragraphe dans section */
.position {
  color: white;
  margin: 20px;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

/* Boutons de navigation */
.btn-container {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.btn {
  background-color: slateblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #483d8b;
  transform: scale(1.05);
}

/* Styles pour le QR Code et l'icône de position */
.qr-position-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70%;
}

.qr-code img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  filter: drop-shadow(0 50px 20px #0009);
}

.position-icon i {
  font-size: 30px;
  color: #3c9a37;
  filter: drop-shadow(0 50px 20px #0009);
}

.position-icon a {
  color: inherit;
}

/* Footer */
.footer {
  margin-top: 34%;
}

/* Media queries pour responsivité */

/* 1440px */
@media (max-width: 1440px) {
  .image-container {
    width: 280px;
  }

  .position {
    font-size: 17px;
    margin-top: 30%;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .image-container {
    width: 260px;
  }

  .position {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 30%;
  }
}

/* 992px */
@media (max-width: 992px) {
  .image-container {
    width: 250px;
  }

  .position {
    font-size: 16px;
    margin-top: 30%;
  }
}

/* 820px */
@media (max-width: 820px) {
  .image-container {
    width: 220px;
  }

  .position {
    font-size: 15px;
    margin-top: 30%;
  }
}

/* 770px */
@media (max-width: 770px) {
  .image-container {
    width: 200px;
  }

  .position {
    font-size: 14px;
    margin-top: 50%;
  }
}

/* 620px */
@media (max-width: 620px) {
  .image-container {
    width: 180px;
  }

  .position {
    font-size: 14px;
    margin-top: 100%;
  }
}

/* 520px */
@media (max-width: 520px) {
  .image-container {
    width: 170px;
  }

  .position {
    font-size: 13px;
    margin-top: 40%;
  }
}

/* 425px */
@media (max-width: 425px) {
  .image-container {
    width: 160px;
  }

  .position {
    font-size: 12px;
    margin-top: 100%;
  }
}

/* 412px */
@media (max-width: 412px) {
  .image-container {
    width: 150px;
    
  }

  .position {
    font-size: 12px;
    margin-top: 40%;
  }
}

/* 375px */
@media (max-width: 375px) {
  .image-container {
    width: 140px;
  }

  .position {
    font-size: 11px;
    margin-top: 50%;
  }
}

/* 320px */
@media (max-width: 320px) {
  .image-container {
    width: 130px;
  }

  .position {
    font-size: 10px;
    margin-top: 50%;
  }
}
